.commentWrap {
    width: 340px;
    height: 603px;
    background-color: rgb(33, 33, 33);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    &.mCommentWrap {
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        border-top-left-radius: 12px;
        z-index: 10;
    }
    &.close {
        display: none;
    }
}